<div class="home-user">
    <div class="home-user-row">
        <p>Perfil</p>
    </div>
    <div class="home-user-form-row">
        <div class="form-left">
            <h3>Nome</h3>
            <app-cinput placeholder="Nome" [disabled]="true"></app-cinput>
            <h3>LastName</h3>
            <app-cinput placeholder="LastName" [disabled]="true"></app-cinput>
            <h3>Email</h3>
            <app-cinput placeholder="Email" [disabled]="true"></app-cinput>
        </div>
        <div class="form-right">
            <img src="mock_user_prof.png" alt="">
            <p>Substituir imagem</p>
        </div>
    </div>
</div>
